<!DOCTYPE html>
<html lang="fr">
    <head>
        <!-- Métadonnées de base -->
        <meta charset="UTF-8">
        <title>Créez vos playlists harmoniques avec HARMONEEZER !</title>
        <meta name="description" content="HARMONEEZER vous aide à construire vos playlists, sous l'angle de l'harmonie musicale. Venez découvrir votre prochain coup de cœur !">
        <meta name="author" content="Baptiste Vannesson">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Open Graph (Facebook) -->
        <meta property="og:locale" content="fr_FR">
        <meta property="og:type" content="website">
        <meta property="og:site_name" content="HARMONEEZER">
        <meta property="og:title" content="Créez vos playlists harmoniques avec HARMONEEZER !">
        <meta property="og:url" content="http://localhost:8000/app/">
        <meta property="og:description" content="HARMONEEZER vous aide à construire vos playlists, sous l'angle de l'harmonie musicale. Venez découvrir votre prochain coup de cœur !">
        <meta property="og:image" content="http://localhost:8000/app/images/background/neutral.jpg">
        <!-- Twitter Cards -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@Badacadabra">
        <meta name="twitter:creator" content="@Badacadabra">
        <meta name="twitter:title" content="Créez vos playlists harmoniques avec HARMONEEZER !">
        <meta name="twitter:description" content="HARMONEEZER vous aide à construire vos playlists, sous l'angle de l'harmonie musicale. Venez découvrir votre prochain coup de cœur !">
        <meta name="twitter:image" content="http://localhost:8000/app/images/background/neutral.jpg">
        <meta name="twitter:domain" content="http://localhost:8000/app/">
        <!-- Style -->
        <link rel="shortcut icon" href="images/foreground/favicon.png" type="image/png">
        <link rel="stylesheet" href="stylesheets/style.css" media="screen">
        <link rel="stylesheet" href="stylesheets/mobile.css" media="screen and (max-width: 600px)">
        <link rel="stylesheet" href="semantic/dist/semantic.min.css">
        <link rel="stylesheet" href="/dist/css/bower.css">
    </head>
    <body id="app" itemscope itemtype="https://schema.org/WebPage">
<!--
        <video autoplay loop poster="../images/background/equalizer.png">
            <source src="../videos/concert.mp4" type="video/mp4">
            <source src="../videos/concert.webm" type="video/webm">
        </video>
-->
        <!-- Menu principal -->
        <nav id="menu" class="ui bottom inverted horizontal sidebar labeled icon menu five item">
            <a id="playlist-btn" class="item">
              <i class="music icon"></i>
              Playlist
            </a>
            <a id="favorites-btn" class="item">
              <i class="heartbeat icon"></i>
              Favoris
            </a>
            <a id="atmospheres-btn" class="item">
              <i class="theme icon"></i>
              Ambiances
            </a>
            <a id="harmonic-tracks-btn" class="item">
              <i class="thumbs up icon"></i>
              Suggestions
            </a>
            <a id="user-btn" class="item">
              <i class="user icon"></i>
              Mon compte
            </a>
        </nav>
        <!-- Playlist -->
        <div id="playlist" class="ui left vertical wide sidebar icon menu" itemscope itemtype="https://schema.org/MusicPlaylist">
            <a class="item title blue-item">
              <h3>Ma playlist</h3>
              <div id="options">
                <span id="not-random-btn" data-title="Lecture aléatoire">
                  <i class="minus icon"></i>
                </span>
                <span id="no-repeat-btn" data-title="Lecture en boucle">
                  <i class="minus icon"></i>
                </span>
                <span id="unmute-btn" data-title="Son on/off">
                  <i class="unmute icon"></i>
                </span>
                <span id="save-browser-btn" data-title="Garder dans le navigateur">
                  <i class="star icon"></i>
                </span>
                <span id="save-deezer-btn" data-title="Sauvegarder sur Deezer">
                  <i class="sound icon"></i>
                </span>
                <span id="export-btn" data-title="Exporter en CSV">
                  <i class="download icon"></i>
                </span>
                <span id="delete-btn" data-title="Tout effacer">
                  <i class="trash icon"></i>
                </span>
              </div>
            </a>
            <a id="controls" class="item">
              <div class="previous-btn">
                <i class="step backward icon"></i>
              </div>
              <div class="back-btn">
                <i class="backward icon"></i>
              </div>
              <div class="play-btn">
                <i class="play icon"></i>
              </div>
              <div class="pause-btn">
                <i class="pause icon"></i>
              </div>
              <div class="forth-btn">
                <i class="forward icon"></i>
              </div>
              <div class="next-btn">
                <i class="step forward icon"></i>
              </div>
            </a>
            <a class="item" v-if="selectedTracks.length == 0">
              <img src="images/foreground/cd.png" alt="CD">
              <div>
                <em>Votre playlist est vide</em><br>
                <strong>Ajoutez-y des morceaux !</strong>
              </div>
            </a>
            <a class="item playlist-item" v-for="selectedTrack in selectedTracks" itemprop="track" data-title="{{ selectedTrack._tempo + ' BPM' }}">
                <img v-bind:src="selectedTrack._cover" alt="{{ selectedTrack._title }}">
                <div class="playlist-track" itemscope itemtype="https://schema.org/MusicRecording">
                  <em itemprop="name">{{ selectedTrack._title }}</em><br>
                  <strong itemprop="byArtist">{{ selectedTrack._artist }}</strong>
                  <input id="playlist-track-index" type="hidden" value="{{ $index }}">
                </div>
                <i class="remove circle outline icon" v-on:mousedown="removeTrack($index)"></i>
            </a>
            <!-- Playlist sous forme de tableau (pour l'export CSV) -->
            <table id="csv-export" style="display:none;">
              <tr>
                <th>Titre</th>
                <th>Artiste</th>
                <th>Album</th>
                <!-- <th>Date de sortie</th> -->
                <th>Tonalité</th>
                <th>Tempo</th>
              </tr>
              <tr v-for="selectedTrack in selectedTracks" itemscope itemtype="https://schema.org/MusicComposition">
                <td itemprop="name">{{ selectedTrack._title }}</td>
                <td itemprop="composer">{{ selectedTrack._artist }}</td>
                <td itemscope itemtype="http://schema.org/MusicAlbum" itemprop="name">{{ selectedTrack._album }}</td>
                <!-- <td itemprop="datePublished">{{ selectedTrack._date }}</td> -->
                <td itemprop="musicalKey">{{ selectedTrack._key + ' ' + selectedTrack._mode }}</td>
                <td itemprop="musicalKey">{{ selectedTrack._tempo }}</td>
              </tr>
            </table>
        </div>
        <!-- Favoris -->
        <div id="favorites" class="ui right vertical wide sidebar menu form">
            <a class="item title red-item">
              <h3>Options diverses</h3>
            </a>
            <a id="fav-ipod" class="item">
              <div class="inline field">
                <div class="ui toggle checkbox" data-content="iPod visible ou invisible." data-variation="inverted">
                  <input class="hidden" type="checkbox" checked>
                  <label>iPod</label>
                  <input type="hidden" class="state" value="on">
                </div>
              </div>
            </a>
            <a id="fav-tooltip" class="item">
              <div class="inline field">
                <div class="ui toggle checkbox" data-content="Indications utiles au survol de la souris." data-variation="inverted">
                  <input class="hidden" type="checkbox" checked>
                  <label>Infobulles</label>
                  <input type="hidden" class="state" value="on">
                </div>
              </div>
            </a>
            <a id="fav-notify" class="item">
              <div class="inline field">
                <div class="ui toggle checkbox" data-content="Alertes en temps réel, à droite de l'écran." data-variation="inverted">
                  <input class="hidden" type="checkbox" checked>
                  <label>Notifications</label>
                  <input type="hidden" class="state" value="on">
                </div>
              </div>
            </a>
            <a id="fav-sound" class="item">
              <div class="inline field">
                <div class="ui toggle checkbox" data-content="Sons joués lors du changement d'ambiance." data-variation="inverted">
                  <input class="hidden" type="checkbox" checked>
                  <label>Sons d'ambiance</label>
                  <input type="hidden" class="state" value="on">
                </div>
              </div>
            </a>
            <a class="item title red-item">
              <h3>Critères de recherche</h3>
            </a>
            <a id="fav-autocomplete" class="item">
              <div class="inline field">
                <div class="ui toggle checkbox" data-content="Suggestions en temp réel lors de vos recherches." data-variation="inverted">
                  <input class="hidden" type="checkbox" checked>
                  <label>Autocomplétion</label>
                  <input type="hidden" class="state" value="on">
                </div>
              </div>
            </a>
            <a id="fav-tempo-range" class="item title">
              <div class="field" data-content="Écart de tempo accepté par rapport au tempo du morceau de référence." data-variation="inverted">
                <p>Variation du tempo</p>
                <input type="range" value="5" max="100" min="0" step="1">
                <span>5 %</span>
              </div>
            </a>
            <a class="item title red-item">
              <h3>Tri des suggestions</h3>
            </a>
            <a id="fav-duplicate" class="item">
              <div class="inline field">
                <div class="ui toggle checkbox" data-content="Un seul morceau par artiste ?" data-variation="inverted">
                  <input class="hidden" type="checkbox">
                  <label>Doublons</label>
                  <input type="hidden" class="state" value="off">
                </div>
              </div>
            </a>
            <a id="fav-default-sorting" class="item">
              <div class="field">
                <div class="ui radio checkbox" data-content="Les morceaux compatibles en tempo et en tonalité apparaissent en priorité." data-variation="inverted">
                  <input class="hidden" name="sorting" type="radio" checked>
                   <label>Tri par défaut</label>
                </div>
              </div>
            </a>
            <a id="fav-tempo-first-sorting" class="item">
              <div class="field">
                <div class="ui radio checkbox" data-content="Idem que le tri par défaut, avec toutefois une valorisation du tempo." data-variation="inverted">
                  <input class="hidden" name="sorting" type="radio">
                   <label>Favoriser le tempo</label>
                </div>
              </div>
            </a>
            <a id="fav-key-first-sorting" class="item">
              <div class="field">
                <div class="ui radio checkbox" data-content="Idem que le tri par défaut, avec toutefois une valorisation de la tonalité." data-variation="inverted">
                  <input class="hidden" name="sorting" type="radio">
                   <label>Favoriser la tonalité</label>
                </div>
              </div>
            </a>
            <a id="fav-asc-tempo-sorting" class="item">
              <div class="field">
                <div class="ui radio checkbox" data-content="Le morceau le plus lent apparaît en premier et le plus rapide en dernier." data-variation="inverted">
                  <input class="hidden" name="sorting" type="radio">
                   <label>Tempo croissant</label>
                </div>
              </div>
            </a>
            <a id="fav-desc-tempo-sorting" class="item">
              <div class="field">
                <div class="ui radio checkbox" data-content="Le morceau le plus rapide apparaît en premier et le plus lent en dernier." data-variation="inverted">
                  <input class="hidden" name="sorting" type="radio">
                   <label>Tempo décroissant</label>
                </div>
              </div>
            </a>
            <a id="fav-no-sorting" class="item">
              <div class="field">
                <div class="ui radio checkbox" data-content="La liste des suggestions est affichée telle quelle, sans tri." data-variation="inverted">
                  <input class="hidden" name="sorting" type="radio">
                   <label>En vrac</label>
                </div>
              </div>
            </a>
        </div>
        <!-- Ambiances -->
        <div id="atmospheres" class="ui top inverted horizontal sidebar menu eight item">
            <a id="neutral-atmo" class="item green-item">Neutre</a>
            <a id="rock-atmo" class="item">Rock</a>
            <a id="electro-atmo" class="item">Electro</a>
            <a id="hiphop-atmo" class="item">Hip-Hop</a>
            <a id="folk-atmo" class="item">Folk</a>
            <a id="classical-atmo" class="item">Classique</a>
            <a id="jazz-atmo" class="item">Jazz</a>
            <a id="metal-atmo" class="item">Metal</a>
        </div>
        <!-- Suggestions harmoniques -->
        <div id="harmonic-tracks" class="ui left vertical sidebar">
          <div id="no-tracks">Vide</div>
        </div>
        <!-- Utilisateur -->
        <div id="user" class="ui bottom horizontal sidebar">
          <div id="user-not-connected">
            <span id="user-msg">Connectez-vous avec votre compte Deezer !</span>
            <button id="login" class="ui brown inverted button">
              <i class="sign in icon"></i>
              Connexion
            </button>
          </div>
          <div id="user-connected">
            <img id="user-img">
            <a id="user-name"></a>
            <div id="user-date"></div>
            <button id="logout" class="ui brown inverted button">
              <i class="sign out icon"></i>
              Déconnexion
            </button>
          </div>
        </div>
        <!-- Contenu principal -->
        <div id="main" class="pusher">
          <!-- iPod -->
          <div id="ipod-wrapper">
              <img id="ipod" src="images/foreground/ipod.png" alt="iPod" usemap="#map">
              <map name="map">
                <area shape="rect" coords="53,110,72,119" title="Menu" class="toggle-menu">
                <area shape="rect" coords="25,141,38,151" title="Précédent" class="previous-btn">
                <area shape="rect" coords="85,142,99,151" title="Suivant" class="next-btn">
                <area shape="rect" coords="54,174,70,183" title="Play/Pause" class="play-pause-btn">
                <area shape="circle" coords="62,146,14" title="Dashboard" class="toggle-all">
              </map>
              <div id="player" itemprop="audio"></div>
          </div>
          <!-- Moteur de recherche -->
          <div id="top-wrapper">
              <form id="search">
                  <div class="ui inverted transparent fluid massive icon search input">
                      <div id="logo">
                        <h1>HARMONEEZER</h1>
                      </div>
                      <input id="request" type="text" name="keyword" class="prompt" placeholder="Vous cherchez un morceau ?" autocomplete="off" autofocus>
                      <i class="search icon"></i>
                  </div>
              </form>
          </div>
          <!-- Carousel de résultats -->
          <div id="results">
              <div id="tracks" class="owl-carousel" style="display:none;"></div>
              <div id="autocomplete" style="display:none;"></div>
              <div id="toggle-carousel">
                <i class="angle double down icon"></i>
              </div>
          </div>
          <div id="dz-root"></div>
          <!-- Loader -->
          <div class="ui page dimmer">
              <div class="content">
                  <p id="loading-text">Chargement...</p>
                  <img id="vinyl" src="images/foreground/vinyl.png" alt="vinyle">
              </div>
          </div>
          <!-- Icône permettant d'afficher le menu du bas -->
          <div id="bottom-chevron" class="toggle-menu">
              <i class="huge chevron up icon"></i>
          </div>
          <!-- Pop-ups -->
          <div id="about" class="ui huge basic modal transition" style="display:none;" itemprop="about">
            <div class="ui icon header">
              <i class="code icon"></i>
            </div>
            <div class="content">
              <p>
                HARMONEEZER est une application développée par
                <a href="http://www.badacadabra.net" target="_blank" itemprop="author">Baptiste Vannesson</a>
                dans le cadre du M2-DNR2I à l'université de Caen Normandie.
              </p>
              <p>Les données musicales proviennent des APIs de
                <a href="https://developers.deezer.com/api" target="_blank">Deezer</a>
                et
                <a href="http://developer.echonest.com/docs/v4" target="_blank">Echo Nest</a>.
              </p>
              <p>
                Retrouvez le projet sur <a href="https://github.com/Badacadabra/Harmoneezer" target="_blank" itemprop="name">GitHub</a> !
              </p>
            </div>
            <div class="actions">
              <div class="ui green ok inverted button">OK</div>
            </div>
          </div>
          <div id="help" class="ui small basic modal transition">
            <div class="ui icon header">
              À quoi correspond cette liste de suggestions ?
            </div>
            <div class="content">
              <p>
                HARMONEEZER s'appuie sur le profil musical de chaque morceau que vous sélectionnez pour générer des suggestions.
                Ce profil est constitué à partir de données recueillies sur Deezer et Echo Nest (Spotify).
                Deezer fournit ici la similarité entre artistes, qui permet de rester globalement dans le même genre musical.
                Echo Nest fournit en complément les données techniques, telles que le tempo et la tonalité.
              </p>
              <p>
                Des contraintes techniques font qu'il n'est pas possible de vous fournir des suggestions harmoniques pour toutes vos sélections.
                Tous les morceaux Deezer n'ont pas forcément d'équivalent sur Echo Nest, et même s'il y a une correspondance, le résumé audio n'est pas toujours présent.
              </p>
              <p>
                Notez cependant que vous pouvez trier les morceaux suggérés selon vos préférences.
                Différentes options de tri sont disponibles dans vos favoris et vous permettront certainement de trouver votre bonheur !
              </p>
            </div>
            <div class="actions">
              <div class="ui green ok inverted button">OK</div>
            </div>
          </div>
        </div>
        <script src="/dist/js/bower.js"></script>
        <script src="semantic/dist/semantic.min.js"></script>
        <script src="https://cdns-files.dzcdn.net/js/min/dz.js"></script>
        <script src="js/bundle/app.js"></script>
        <!-- <script src="/dist/js/app.min.js"></script> -->
    </body>
</html>
