@charset "UTF-8";
/* ========================================== */
/* ================= Reset ================= */
/* ======================================== */
/* line 14, ../sass/style.scss */
* {
  border: 0;
  padding: 0;
  margin: 0;
}

/* ========================================== */
/* ================ Polices ================ */
/* ======================================== */
@font-face {
  font-family: 'actionman_regular';
  src: url("../fonts/ActionMan/action_man-webfont.eot");
  src: url("../fonts/ActionMan/action_man-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ActionMan/action_man-webfont.woff2") format("woff2"), url("../fonts/ActionMan/action_man-webfont.woff") format("woff"), url("../fonts/ActionMan/action_man-webfont.ttf") format("truetype"), url("../fonts/ActionMan/action_man-webfont.svg#action_manregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* ========================================== */
/* ================= Global ================ */
/* ======================================== */
/* line 40, ../sass/style.scss */
body {
  overflow: hidden !important;
}

/* line 44, ../sass/style.scss */
.pusher {
  background: url("../images/background/music.jpg") no-repeat center center fixed !important;
  background-size: cover !important;
  height: 100%;
}

/* line 50, ../sass/style.scss */
.red {
  color: red;
}

/* line 54, ../sass/style.scss */
.green {
  color: green;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* line 67, ../sass/style.scss */
#dzplayer {
  margin: auto;
}

/* line 71, ../sass/style.scss */
#top-wrapper {
  position: relative;
  z-index: 100;
}

/* line 76, ../sass/style.scss */
#loading-text {
  font-weight: bold;
  font-size: x-large;
  font-variant: small-caps;
  position: relative;
  z-index: 10;
}

/* line 84, ../sass/style.scss */
#vinyl {
  width: 200px;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation: loading 7s linear infinite;
}

/* line 92, ../sass/style.scss */
#mCSB_1_container {
  margin-right: 0;
}

/* ========================================== */
/* ================= Search ================ */
/* ======================================== */
/* line 100, ../sass/style.scss */
input#deezer-selection {
  font-family: actionman_regular, sans-serif;
  font-size: xx-large;
  padding: 15px !important;
  border: 0 !important;
  border-bottom: solid 2px #A2A2A2 !important;
  border-radius: 0 !important;
  transition: border-color .5s ease;
  position: relative;
  z-index: 100;
}

/* line 112, ../sass/style.scss */
input#deezer-selection:focus {
  border-bottom-color: white !important;
}

/* line 116, ../sass/style.scss */
input#deezer-selection + .search.icon {
  margin-right: 25px;
}

/* line 120, ../sass/style.scss */
form#search {
  justify-content: center;
  background-color: #131619 !important;
}

/* ========================================== */
/* ================ Résultats ============== */
/* ======================================== */
/* line 129, ../sass/style.scss */
.owl-carousel {
  background-color: #131619;
  border-bottom: solid 2px white;
}

/* line 134, ../sass/style.scss */
.owl-item {
  width: 250px !important;
}
/* line 137, ../sass/style.scss */
.owl-item figure {
  margin: 0;
  display: block;
  position: relative;
  float: left;
  overflow: hidden;
}
/* line 144, ../sass/style.scss */
.owl-item figure figcaption {
  position: absolute;
  background: black;
  background: rgba(0, 0, 0, 0.75);
  width: 250px;
  height: 250px;
  color: white;
  padding: 10px 20px;
  opacity: 0;
  left: 0;
  bottom: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
}
/* line 163, ../sass/style.scss */
.owl-item figure figcaption h3 {
  font-family: actionman_regular, sans-serif;
}
/* line 168, ../sass/style.scss */
.owl-item figure figcaption:hover {
  opacity: 1;
  cursor: pointer;
}

/* line 175, ../sass/style.scss */
.owl-wrapper-outer {
  height: 250px;
}

/* line 179, ../sass/style.scss */
.owl-controls {
  display: none !important;
}

/* line 183, ../sass/style.scss */
.owl-item figure:hover figcaption {
  opacity: 1;
}

/* line 189, ../sass/style.scss */
#harmonic-tracks #tracks-help {
  color: white;
  background-color: #188AE3;
  height: 250px;
  font-size: xx-large;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* line 200, ../sass/style.scss */
#harmonic-tracks #tracks-help h2 {
  font-family: actionman_regular, sans-serif;
  padding: 20px;
}

/* ========================================== */
/* ================== iPod ================= */
/* ======================================== */
/* line 212, ../sass/style.scss */
#ipod-wrapper {
  position: absolute;
  top: 85px;
  right: 15px;
  z-index: 10;
  width: 125px;
  height: 208px;
}
/* line 219, ../sass/style.scss */
#ipod-wrapper #ipod {
  position: absolute;
}
/* line 223, ../sass/style.scss */
#ipod-wrapper #player {
  width: 105px;
  height: 80px;
  background-color: #212129;
  border-radius: 2px;
  position: relative;
  top: 10px;
  left: 10px;
}

/* line 234, ../sass/style.scss */
#ipod-wrapper:hover {
  cursor: move;
}

/* ========================================== */
/* =============== Background ============== */
/* ======================================== */
/* line 242, ../sass/style.scss */
.vegas-timer {
  height: 5px !important;
}

/* line 246, ../sass/style.scss */
.vegas-timer-progress {
  background: white none repeat scroll 0 0 !important;
}

/* video {
    position: fixed; right: 0; bottom: 0;
    min-width: 100%; min-height: 100%;
    width: auto; height: auto; z-index: -100;
    background: url('../images/equalizer.png') no-repeat;
    background-size: cover;
}

@media screen and (max-device-width: 800px) {
    html { background: url('../images/equalizer.png') #000 no-repeat center center fixed; }
    video { display: none; }
} */
/* ========================================== */
/* ================ Sidebars =============== */
/* ======================================== */
/* line 267, ../sass/style.scss */
#display-menu {
  cursor: pointer;
  position: absolute;
  text-align: center;
  right: 0;
  bottom: 0;
  left: 0;
  transition: bottom 0.5s;
}
/* line 274, ../sass/style.scss */
#display-menu i {
  color: white;
  background-color: #131619;
  border-radius: 100px 100px 0 0;
  border-top: solid 2px black;
  border-left: solid 2px black;
  border-right: solid 2px black;
}

/* line 284, ../sass/style.scss */
.bottom.sidebar {
  background-color: #131619;
  justify-content: center;
  z-index: 100;
}
/* line 289, ../sass/style.scss */
.bottom.sidebar .item:first-of-type {
  border-top: solid 3px #188AE3 !important;
}
/* line 293, ../sass/style.scss */
.bottom.sidebar .item:first-of-type:hover {
  background-color: #188AE3 !important;
}
/* line 297, ../sass/style.scss */
.bottom.sidebar .item:nth-of-type(2) {
  border-top: solid 3px #F04A3C !important;
}
/* line 301, ../sass/style.scss */
.bottom.sidebar .item:nth-of-type(2):hover {
  background-color: #F04A3C !important;
}
/* line 305, ../sass/style.scss */
.bottom.sidebar .item:nth-of-type(3) {
  border-top: solid 3px #5AA628 !important;
}
/* line 309, ../sass/style.scss */
.bottom.sidebar .item:nth-of-type(3):hover {
  background-color: #5AA628 !important;
}
/* line 313, ../sass/style.scss */
.bottom.sidebar .item:nth-of-type(4) {
  border-top: solid 3px #FFA905 !important;
}
/* line 317, ../sass/style.scss */
.bottom.sidebar .item:nth-of-type(4):hover {
  background-color: #FFA905 !important;
}
/* line 321, ../sass/style.scss */
.bottom.sidebar .item:nth-of-type(5) {
  border-top: solid 3px #AE63E4 !important;
}
/* line 325, ../sass/style.scss */
.bottom.sidebar .item:nth-of-type(5):hover {
  background-color: #AE63E4 !important;
}
/* line 329, ../sass/style.scss */
.bottom.sidebar .item:nth-of-type(6) {
  border-top: solid 3px #B66F2F !important;
}
/* line 333, ../sass/style.scss */
.bottom.sidebar .item:nth-of-type(6):hover {
  background-color: #B66F2F !important;
}
/* line 337, ../sass/style.scss */
.bottom.sidebar .item:last-of-type {
  border-top: solid 3px gray !important;
}
/* line 341, ../sass/style.scss */
.bottom.sidebar .item:last-of-type:hover {
  background-color: gray !important;
}

/* line 346, ../sass/style.scss */
.vertical.sidebar {
  z-index: 10 !important;
}
/* line 349, ../sass/style.scss */
.vertical.sidebar .item {
  display: flex !important;
  align-items: center;
}
/* line 353, ../sass/style.scss */
.vertical.sidebar .item img {
  width: 56px !important;
  margin-right: 20px !important;
}
/* line 359, ../sass/style.scss */
.vertical.sidebar .item:last-of-type {
  padding-bottom: 100px !important;
}

/* ========================================== */
/* =============== Ambiances =============== */
/* ======================================== */
/* line 368, ../sass/style.scss */
#ambiances {
  display: none;
  width: 90%;
  margin: auto;
}
/* line 373, ../sass/style.scss */
#ambiances .ambiance {
  max-width: 500px;
  width: 50%;
}
/* line 377, ../sass/style.scss */
#ambiances .ambiance figure {
  display: flex;
  justify-content: space-around;
}
/* line 381, ../sass/style.scss */
#ambiances .ambiance figure img {
  width: 400px;
}
