@charset "UTF-8";
/* ========================================== */
/* ================= Reset ================= */
/* ======================================== */
/* line 7, ../sass/style.scss */
* {
  border: 0;
  padding: 0;
  margin: 0;
}

/* ========================================== */
/* ================ Polices ================ */
/* ======================================== */
@font-face {
  font-family: 'actionman_regular';
  src: url("../fonts/ActionMan/action_man-webfont.eot");
  src: url("../fonts/ActionMan/action_man-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ActionMan/action_man-webfont.woff2") format("woff2"), url("../fonts/ActionMan/action_man-webfont.woff") format("woff"), url("../fonts/ActionMan/action_man-webfont.ttf") format("truetype"), url("../fonts/ActionMan/action_man-webfont.svg#action_manregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* ========================================== */
/* ================= Global ================ */
/* ======================================== */
/* line 33, ../sass/style.scss */
body {
  /* background: url('../images/background/music.jpg') no-repeat center center fixed !important; */
  background-size: cover !important;
  overflow: hidden !important;
}

/* line 39, ../sass/style.scss */
.red {
  color: red;
}

/* line 43, ../sass/style.scss */
.green {
  color: green;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* line 56, ../sass/style.scss */
#main-wrapper {
  position: relative;
  z-index: 100;
}

/* line 61, ../sass/style.scss */
#loading-text {
  font-weight: bold;
  font-size: x-large;
  font-variant: small-caps;
  position: relative;
  z-index: 10;
}

/* line 69, ../sass/style.scss */
#vinyl {
  width: 200px;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation: loading 7s linear infinite;
}

/* ========================================== */
/* ================= Search ================ */
/* ======================================== */
/* line 81, ../sass/style.scss */
input#deezer-selection {
  font-family: actionman_regular, sans-serif;
  font-size: xx-large;
  padding: 15px !important;
  border: 0 !important;
  border-bottom: solid 2px #A2A2A2 !important;
  border-radius: 0 !important;
  transition: border-color .5s ease;
  position: relative;
  z-index: 100;
}

/* line 93, ../sass/style.scss */
input#deezer-selection:focus {
  border-bottom-color: white !important;
}

/* line 97, ../sass/style.scss */
input#deezer-selection + .search.icon {
  margin-right: 25px;
}

/* line 101, ../sass/style.scss */
form#search {
  justify-content: center;
  background-color: #131619 !important;
}

/* ========================================== */
/* ================ Résultats ============== */
/* ======================================== */
/* line 110, ../sass/style.scss */
.owl-carousel {
  background-color: #131619;
  border-bottom: solid 2px white;
}

/* line 115, ../sass/style.scss */
.owl-item {
  width: 250px !important;
}
/* line 118, ../sass/style.scss */
.owl-item figure {
  margin: 0;
  display: block;
  position: relative;
  float: left;
  overflow: hidden;
}
/* line 125, ../sass/style.scss */
.owl-item figure figcaption {
  position: absolute;
  background: black;
  background: rgba(0, 0, 0, 0.75);
  width: 250px;
  height: 250px;
  color: white;
  padding: 10px 20px;
  opacity: 0;
  left: 0;
  bottom: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
}
/* line 144, ../sass/style.scss */
.owl-item figure figcaption h3 {
  font-family: actionman_regular, sans-serif;
}
/* line 149, ../sass/style.scss */
.owl-item figure figcaption:hover {
  opacity: 1;
  cursor: pointer;
}

/* line 156, ../sass/style.scss */
.owl-wrapper-outer {
  height: 250px;
}

/* line 160, ../sass/style.scss */
.owl-controls {
  display: none !important;
}

/* line 164, ../sass/style.scss */
.owl-item figure:hover figcaption {
  opacity: 1;
}

/* line 170, ../sass/style.scss */
#harmonic-tracks #tracks-help {
  color: white;
  background-color: #188AE3;
  height: 250px;
  font-size: xx-large;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* line 181, ../sass/style.scss */
#harmonic-tracks #tracks-help h2 {
  font-family: actionman_regular, sans-serif;
  padding: 20px;
}

/* ========================================== */
/* ================== iPod ================= */
/* ======================================== */
/* line 193, ../sass/style.scss */
#ipod-wrapper {
  position: absolute;
  top: 85px;
  right: 15px;
  z-index: 10;
  width: 125px;
  height: 208px;
}
/* line 200, ../sass/style.scss */
#ipod-wrapper #ipod {
  position: absolute;
}
/* line 204, ../sass/style.scss */
#ipod-wrapper #player {
  width: 105px;
  height: 80px;
  background-color: #212129;
  border-radius: 2px;
  position: relative;
  top: 10px;
  left: 10px;
}

/* line 215, ../sass/style.scss */
#ipod-wrapper:hover {
  cursor: move;
}

/* ========================================== */
/* =============== Background ============== */
/* ======================================== */
/* line 223, ../sass/style.scss */
.vegas-timer {
  height: 5px !important;
}

/* line 227, ../sass/style.scss */
.vegas-timer-progress {
  background: white none repeat scroll 0 0 !important;
}

/* video {
    position: fixed; right: 0; bottom: 0;
    min-width: 100%; min-height: 100%;
    width: auto; height: auto; z-index: -100;
    background: url('../images/equalizer.png') no-repeat;
    background-size: cover;
}

@media screen and (max-device-width: 800px) {
    html { background: url('../images/equalizer.png') #000 no-repeat center center fixed; }
    video { display: none; }
} */
/* ========================================== */
/* ================= Footer ================ */
/* ======================================== */
/* line 248, ../sass/style.scss */
#dzplayer {
  margin: auto;
}

/* line 252, ../sass/style.scss */
#displayFooter {
  cursor: pointer;
  position: absolute;
  text-align: center;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 100px 100px 0 0;
  transition: bottom 0.5s;
  z-index: 100;
}
/* line 261, ../sass/style.scss */
#displayFooter i {
  color: white;
  background-color: #131619;
  border-radius: 100px 100px 0 0;
}

/* line 268, ../sass/style.scss */
#displayFooter.active {
  bottom: 150px;
}

/* line 272, ../sass/style.scss */
#displayFooter.active + footer {
  max-height: 150px;
}

/* line 276, ../sass/style.scss */
footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  max-height: 0px;
  height: 150px;
  margin: auto;
  background-color: #131619;
  /* background: url('../images/background/equalizer-min.png') no-repeat; */
  transition: max-height 0.5s;
  z-index: 100;
}
