@charset "UTF-8";
/* ========================================== */
/* ================= Reset ================= */
/* ======================================== */
* {
  border: 0;
  padding: 0;
  margin: 0;
}

/* ========================================== */
/* ================ Polices ================ */
/* ======================================== */
@font-face {
  font-family: 'actionman_regular';
  src: url("../fonts/ActionMan/action_man-webfont.eot");
  src: url("../fonts/ActionMan/action_man-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ActionMan/action_man-webfont.woff2") format("woff2"), url("../fonts/ActionMan/action_man-webfont.woff") format("woff"), url("../fonts/ActionMan/action_man-webfont.ttf") format("truetype"), url("../fonts/ActionMan/action_man-webfont.svg#action_manregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* ========================================== */
/* ================= Global ================ */
/* ======================================== */
body {
  overflow: hidden !important;
}

.pusher {
  background: url("../images/background/music.jpg") no-repeat center center fixed !important;
  background-size: cover !important;
  height: 100%;
}

.red {
  color: red;
}

.green {
  color: green;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#dzplayer {
  margin: auto;
}

#top-wrapper {
  position: relative;
  z-index: 100;
}

#loading-text {
  font-weight: bold;
  font-size: x-large;
  font-variant: small-caps;
  position: relative;
  z-index: 10;
}

#vinyl {
  width: 200px;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation: loading 7s linear infinite;
}

#mCSB_1_container,
#mCSB_2_container,
#mCSB_3_container {
  margin-right: 0;
}

/* ========================================== */
/* ================= Search ================ */
/* ======================================== */
form#search {
  justify-content: center;
  background-color: #131619 !important;
}

#search input {
  font-family: actionman_regular, sans-serif;
  font-size: xx-large;
  padding: 15px !important;
  border: 0 !important;
  border-bottom: solid 2px #A2A2A2 !important;
  border-radius: 0 !important;
  transition: border-color .5s ease;
  position: relative;
  z-index: 100;
}
#search input:focus {
  border-bottom-color: white !important;
}

#search input + .search.icon {
  margin-right: 25px;
}

/* ========================================== */
/* ================ Résultats ============== */
/* ======================================== */
.owl-carousel {
  background-color: #131619;
  border-bottom: solid 2px white;
}

.owl-item, #harmonic-tracks {
  width: 250px !important;
}
.owl-item figure, #harmonic-tracks figure {
  margin: 0;
  display: block;
  position: relative;
  float: left;
  overflow: hidden;
}
.owl-item figure figcaption, #harmonic-tracks figure figcaption {
  position: absolute;
  background: black;
  background: rgba(0, 0, 0, 0.75);
  width: 250px;
  height: 250px;
  color: white;
  padding: 10px 20px;
  opacity: 0;
  left: 0;
  bottom: 4px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
}
.owl-item figure figcaption h3, #harmonic-tracks figure figcaption h3 {
  font-family: actionman_regular, sans-serif;
}
.owl-item figure figcaption:hover, #harmonic-tracks figure figcaption:hover {
  opacity: 1;
  cursor: pointer;
}

.owl-wrapper-outer {
  height: 250px;
}

.owl-controls {
  display: none !important;
}

.owl-item figure:hover figcaption {
  opacity: 1;
}

/* ========================================== */
/* ================== iPod ================= */
/* ======================================== */
#ipod-wrapper {
  position: absolute;
  top: 85px;
  right: 15px;
  z-index: 10;
  width: 125px;
  height: 208px;
}
#ipod-wrapper #ipod {
  position: absolute;
}
#ipod-wrapper #player {
  width: 105px;
  height: 80px;
  background-color: #212129;
  border-radius: 2px;
  position: relative;
  top: 10px;
  left: 10px;
}

#ipod-wrapper:hover {
  cursor: move;
}

/* ========================================== */
/* =============== Background ============== */
/* ======================================== */
.vegas-timer {
  height: 5px !important;
}

.vegas-timer-progress {
  background: white none repeat scroll 0 0 !important;
}

/* video {
    position: fixed; right: 0; bottom: 0;
    min-width: 100%; min-height: 100%;
    width: auto; height: auto; z-index: -100;
    background: url('../images/equalizer.png') no-repeat;
    background-size: cover;
}

@media screen and (max-device-width: 800px) {
    html { background: url('../images/equalizer.png') #000 no-repeat center center fixed; }
    video { display: none; }
} */
/* ========================================== */
/* ================ Sidebars =============== */
/* ======================================== */
.sidebar {
  border: 0 !important;
}

.sidebar .item h3 {
  color: white;
  font-family: actionman_regular, sans-serif;
  font-size: 17px;
}

#display-menu {
  cursor: pointer;
  position: absolute;
  text-align: center;
  right: 0;
  bottom: 0;
  left: 0;
  transition: bottom 0.5s;
}
#display-menu i {
  color: white;
  background-color: #131619;
  border-radius: 100px 100px 0 0;
  border-top: solid 2px black;
  border-left: solid 2px black;
  border-right: solid 2px black;
}

.blue-item {
  background-color: #188AE3 !important;
}

.red-item {
  background-color: #F04A3C !important;
}

.black-item {
  background-color: black !important;
}

.green-item {
  background-color: #5AA628 !important;
}

.orange-item {
  background-color: #FFA905 !important;
}

.violet-item {
  background-color: #AE63E4 !important;
}

.maroon-item {
  background-color: #B66F2F !important;
}

.gray-item {
  background-color: gray !important;
}

.bottom.sidebar {
  background-color: #131619;
  justify-content: center;
  z-index: 100;
}
.bottom.sidebar .item:first-of-type {
  border-top: solid 3px #188AE3 !important;
}
.bottom.sidebar .item:first-of-type:hover {
  background-color: #188AE3 !important;
}
.bottom.sidebar .item:nth-of-type(2) {
  border-top: solid 3px #F04A3C !important;
}
.bottom.sidebar .item:nth-of-type(2):hover {
  background-color: #F04A3C !important;
}
.bottom.sidebar .item:nth-of-type(3) {
  border-top: solid 3px #5AA628 !important;
}
.bottom.sidebar .item:nth-of-type(3):hover {
  background-color: #5AA628 !important;
}
.bottom.sidebar .item:nth-of-type(4) {
  border-top: solid 3px black !important;
}
.bottom.sidebar .item:nth-of-type(4):hover {
  background-color: black !important;
}
.bottom.sidebar .item:nth-of-type(5) {
  border-top: solid 3px #FFA905 !important;
}
.bottom.sidebar .item:nth-of-type(5):hover {
  background-color: #FFA905 !important;
}
.bottom.sidebar .item:nth-of-type(6) {
  border-top: solid 3px #AE63E4 !important;
}
.bottom.sidebar .item:nth-of-type(6):hover {
  background-color: #AE63E4 !important;
}
.bottom.sidebar .item:nth-of-type(7) {
  border-top: solid 3px #B66F2F !important;
}
.bottom.sidebar .item:nth-of-type(7):hover {
  background-color: #B66F2F !important;
}
.bottom.sidebar .item:last-of-type {
  border-top: solid 3px gray !important;
}
.bottom.sidebar .item:last-of-type:hover {
  background-color: gray !important;
}

#playlist, #favorites {
  margin-top: 71px !important;
}

#playlist {
  z-index: 10 !important;
  border-right: solid 3px #188AE3 !important;
}
#playlist .item {
  text-align: left;
  display: flex !important;
  align-items: center;
}
#playlist .item img {
  width: 56px !important;
  margin-right: 20px !important;
}

#favorites {
  border-left: solid 3px #F04A3C !important;
}
#favorites .item:not(.title) {
  padding: 0;
}
#favorites .item:not(.title) .field {
  width: 100%;
}
#favorites .item:not(.title) .field .ui.checkbox {
  width: 100%;
}
#favorites .item:not(.title) .field .ui.checkbox label {
  margin: 13px;
}
#favorites input[type='range'] + span {
  border: 1px solid gray;
  padding: 15px;
  position: relative;
  top: -20px;
  left: 60px;
}

#atmospheres {
  height: 70px !important;
  border-bottom: solid 3px #5AA628 !important;
}
#atmospheres p {
  font-family: actionman_regular, sans-serif;
  font-size: 15px;
  font-weight: bold;
}

#harmonic-tracks {
  background-color: #131619;
  box-shadow: 0 0 25px black;
}
#harmonic-tracks h3 {
  background-color: #131619 !important;
  padding: 24px 0;
  text-align: center;
}
#harmonic-tracks #tracks-help {
  color: white;
  background-color: #188AE3;
  height: 250px;
  font-size: xx-large;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#harmonic-tracks #tracks-help p {
  font-family: actionman_regular, sans-serif;
  padding: 20px;
}
