$dark: #131619;
$blue: #188AE3;
$red: #F04A3C;
$green: #5AA628;
$violet: #AE63E4;
$maroon: #B66F2F;

@keyframes backgroundAnimation {
  from { background-position: 0 0; }
  to { background-position: 0 -480px; }
}

#app {
  background: $dark !important;
}

.pusher {
  background: url('../images/background/responsive.jpg') repeat-y center center fixed !important;
  animation: backgroundAnimation 30s linear infinite;
}

#search > div {
  display: flex;
  flex-direction: column;
  height: initial;
}

#search input {
  padding: 5px 10px !important;
  font-size: 0.7em;
  border-bottom: 0 !important;
}

#search input:focus {
  border-bottom: 0 !important;
}

#search i {
  display: none;
}

#logo {
  margin-top: 5px;
  border-top: solid 5px $blue !important;
  border-bottom: solid 5px $red !important;

  h1 {
    width: 100%;
    text-align: center;
    font-size: 1.7em;
  }

  &:hover {
    border-top-width: 5px;
    border-bottom-width: 5px;
  }
}

#logo + input {
  width: 100% !important;
  background-color: $dark !important;
  text-align: center;
}

#ipod-wrapper {
  display: none;
}

#about {
  font-size: medium !important;
}

#atmospheres-btn {
  display: none;
}

#menu {
  overflow: hidden;
}

#autocomplete {
  width: 100%;
  top: 100px;
}

#fav-ipod,
#fav-sound,
#fav-autocomplete,
#atmospheres {
  display: none;
}

#toggle-carousel {
  display: none;
}

#playlist, #favorites {
  margin-top: 0 !important;
  padding-bottom: 80px !important;
}

#user {
  height: 100% !important;

  #user-connected, #user-not-connected {
    flex-direction: column;

    #user-msg {
      font-size: medium;
      margin-bottom: 5px !important;
    }

    #login {
      width: 70%;
    }
  }

}
