$dark: #131619;
$blue: #188AE3;
$red: #F04A3C;
$green: #5AA628;
$violet: #AE63E4;
$maroon: #B66F2F;

/* ========================================== */
/* ================= Reset ================= */
/* ======================================== */

* {
    border: 0;
    padding: 0;
    margin: 0;
}

/* ========================================== */
/* ================ Polices ================ */
/* ======================================== */

@font-face {
    font-family: 'actionman_regular';
    src: url('../fonts/ActionMan/action_man-webfont.eot');
    src: url('../fonts/ActionMan/action_man-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ActionMan/action_man-webfont.woff2') format('woff2'),
         url('../fonts/ActionMan/action_man-webfont.woff') format('woff'),
         url('../fonts/ActionMan/action_man-webfont.ttf') format('truetype'),
         url('../fonts/ActionMan/action_man-webfont.svg#action_manregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'major_snafuregular';
    src: url('../fonts/MajorSnafu/major_shift-webfont.eot');
    src: url('../fonts/MajorSnafu/major_shift-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MajorSnafu/major_shift-webfont.woff2') format('woff2'),
         url('../fonts/MajorSnafu/major_shift-webfont.woff') format('woff'),
         url('../fonts/MajorSnafu/major_shift-webfont.ttf') format('truetype'),
         url('../fonts/MajorSnafu/major_shift-webfont.svg#major_snafuregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ========================================== */
/* ================= Global ================ */
/* ======================================== */

#app {
    overflow: hidden !important;
    background: url('../images/background/cds.jpg') no-repeat center center fixed !important;
}

#main {
  transition: background 0.5s ease-in-out;
}

.pusher {
    background: url('../images/background/neutral.jpg') no-repeat center center fixed !important;
    background-size: cover !important;
    height: 100%;
}

.red {
  color: $red;
}

.green {
  color: $green;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#dzplayer {
  margin: auto;
}

#top-wrapper {
  position: relative;
  z-index: 100;
}

#loading-text {
    font-weight: bold;
    font-size: x-large;
    font-variant: small-caps;
    position: relative;
    z-index: 10;
}

#vinyl {
    width: 200px;
    margin: auto;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    animation: loading 7s linear infinite;
}

#top-wrapper h1 {
  font-family: major_snafuregular, sans-serif;
  font-weight: normal;
}

#logo {
  display: flex;
  align-items: center;
  padding: 0 15px;
  border-style: solid;
  border-width: 10px;
  border-color: $blue $dark $red $dark;
  transition: border-width .5s ease;

  &:hover {
    cursor: pointer;
    border-top-width: 15px;
    border-bottom-width: 15px;
  }
}

.mCSB_container {
  margin-right: 0 !important;
}

area {
  cursor: pointer;
}

/* ========================================== */
/* ================= Search ================ */
/* ======================================== */

form#search {
    justify-content: center;
    background-color: $dark !important;
}

#search > div {
  height: 72px !important;
}

#search input {
    font-family: actionman_regular, sans-serif;
    font-size: xx-large;
    padding: 15px !important;
    border: 0 !important;
    border-bottom: solid 3px #A2A2A2 !important;
    border-radius: 0 !important;
    transition: border-color .5s ease;
    position: relative;
    z-index: 100;

    &:focus {
      border-bottom-color: white !important;
    }
}

#search input + .search.icon {
    margin-right: 25px;
}

#autocomplete {
  background-color: white;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  width: 243px;
  border: solid 10px #EEEEEE;

  div {
    cursor: pointer;
    padding: 5px;
    font-size: 14px;
    font-weight: normal;
    border-bottom: solid 1px #EEEEEE;

    &:hover {
      background-color: #EEEEEE;
    }
  }
}

/* ========================================== */
/* ================ Résultats ============== */
/* ======================================== */

.owl-carousel {
  background-color: $dark;
  border-bottom: solid 2px white;
}

.owl-item, #harmonic-tracks {
  width: 250px !important;

  figure {
    margin: 0;
    display: block;
    position: relative;
    float: left;
    overflow: hidden;

    figcaption {
      position: absolute;
      background: black;
      background: rgba(0,0,0,0.75);
      width: 250px;
      height: 250px;
      color: white;
      padding: 10px 20px;
      opacity: 0;
      left: 0;
      bottom: 4px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
      -o-transition: all .3s ease;

      h3 {
        font-family: actionman_regular, sans-serif;
      }

    }

    figcaption:hover {
      opacity: 1;
      cursor: pointer;
    }
  }
}

.owl-wrapper-outer {
  height: 250px;
}

.owl-controls {
  display: none !important;
}

.owl-item figure:hover figcaption {
  opacity: 1;
}

/* ========================================== */
/* ================== iPod ================= */
/* ======================================== */

#ipod-wrapper {
  position: absolute;
  top: 85px; right: 15px;
  z-index: 10;
  width: 125px;
  height: 208px;

  #ipod {
    position: absolute;
  }

  #player {
    width: 105px;
    height: 80px;
    background-color: #212129;
    border-radius: 2px;
    position: relative;
    top: 10px;
    left: 10px;
  }
}

#ipod-wrapper:hover {
    cursor: move;
}

/* ========================================== */
/* =============== Background ============== */
/* ======================================== */

.vegas-timer {
    height: 5px !important;
}

.vegas-timer-progress {
    background: white none repeat scroll 0 0 !important;
}

/* video {
    position: fixed; right: 0; bottom: 0;
    min-width: 100%; min-height: 100%;
    width: auto; height: auto; z-index: -100;
    background: url('../images/equalizer.png') no-repeat;
    background-size: cover;
}

@media screen and (max-device-width: 800px) {
    html { background: url('../images/equalizer.png') #000 no-repeat center center fixed; }
    video { display: none; }
} */

/* ========================================== */
/* ================ Sidebars =============== */
/* ======================================== */

.sidebar {
  border: 0 !important;
}

.sidebar {
  .item {

    h3 {
      color: white;
      font-family: actionman_regular, sans-serif;
      font-size: 17px;
    }
  }

  .title {
    cursor: default !important;
  }
}

.vertical.sidebar {
  z-index: 10 !important;
}

@keyframes changeColor {
  0% { background-color: $dark; }
  20% { background-color: $blue; }
  40% { background-color: $red; }
  60% { background-color: $green; }
  80% { background-color: $violet; }
  100% { background-color: $maroon; }
}

#bottom-chevron {
    cursor: pointer;
    position: absolute;
    text-align: center;
    right:0; bottom: 0; left: 0;
    transition: bottom 0.5s;

    i {
      color: white;
      background-color: $dark;
      border-radius: 100px 100px 0 0;
      border-top: solid 2px black;
      border-left: solid 2px black;
      border-right: solid 2px black;
      animation: changeColor 10s ease-in-out infinite;
    }
}

@mixin item-border($color) {
  border-top: solid 3px $color !important;
}

@mixin item-color($color) {
  background-color: $color !important;
}

.blue-item {
  @include item-color($blue);
}

.red-item {
  @include item-color($red);
}

.green-item {
  @include item-color($green);
}

.violet-item {
  @include item-color($violet);
}

.maroon-item {
  @include item-color($maroon);
}

.bottom.sidebar {
  background-color: $dark;
  justify-content: center;
  z-index: 100;

  .item {

    &:first-of-type {
      @include item-border($blue);

      &:hover {
        @include item-color($blue);
      }

    }

    &:nth-of-type(2) {
      @include item-border($red);

      &:hover {
        @include item-color($red);
      }
    }

    &:nth-of-type(3) {
      @include item-border($green);

      &:hover {
        @include item-color($green);
      }
    }

    &:nth-of-type(4) {
      @include item-border($violet);

      &:hover {
        @include item-color($violet);
      }
    }

    &:last-of-type {
      @include item-border($maroon);

      &:hover {
        @include item-color($maroon);
      }
    }

  }
}

#menu {
  height: 74px;
}

#playlist, #favorites {
  margin-top: 71px !important;
}

#playlist {
  border-right: solid 3px $blue !important;

  .title {
    justify-content: space-between;
    align-items: center;

    h3 {
      margin: 0;
    }

    #options {
      span {
        color: white;
        cursor: pointer;
        margin-left: 5px;
      }
    }
  }

  #controls {
    padding: 0;
    text-align: center;
    background-color: silver;

    div {
      width: 100%;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        color: white;
      }
    }

  }

  .item {
    text-align: left;
    display: flex !important;
    align-items: center;

    img {
      width: 56px !important;
      margin-right: 20px !important;
    }

  }
}

#favorites {
  border-left: solid 3px $red !important;

  .item:not(.title) {
    padding: 0;

    .field {
      width: 100%;

      .ui.checkbox {
        width: 100%;

        label {
          margin: 13px;
        }
      }
    }
  }

  input[type='range'] + span {
      border: 1px solid gray;
      padding: 15px;
      position: relative;
      top: -20px;
      left: 60px;
  }
}

#atmospheres {
  height: 72px !important;
  border-bottom: solid 3px $green !important;

  a {
    font-family: major_snafuregular, sans-serif;
    font-size: 20px;
    font-weight: normal;
  }
}

#no-tracks {
  color: white;
  text-align: center;
  font-size: xx-large;
  font-family: major_snafuregular, sans-serif;
  padding-top: 50px;
  width: 100%;
  height: 100%;
  border-right: solid 3px white;
  background-image: url('../images/background/equalizer.png');
}

#harmonic-tracks {
  background-color: $dark;
  box-shadow: 0 0 25px black;

  h2 {
    color: white;
    background-color: $dark !important;
    padding: 20px 0;
    text-align: center;
    font-family: actionman_regular, sans-serif;
  }

  #tracks-help {
    color: white;
    background-color: $violet;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &:hover i {
      transform: rotate(360deg) scale(1.3);
    }

    i {
      font-size: 130px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: transform .5s ease;
    }
  }

}

#user {
  @include item-border($maroon);
  height: 150px !important;
  padding-bottom: 74px;
  background-color: white;
  font-family: actionman_regular;
  font-size: x-large;
  overflow: hidden !important;
  z-index: 10;

  #user-connected {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
  }

  #user-not-connected {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;

    #user-msg {
      margin: 0 20px;
    }
  }
}
