#request {
  font-size: 1em !important;
}

#request + .search.icon {
  display: none;
}

#toggle-carousel {
  margin-left: 195px;
}

#ipod-wrapper {
  top: 130px;
}

#atmospheres {
  a {
    font-size: 12px;
  }
}
